# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# Environnement virtuel
env/
venv/
ENV/
.venv
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store

# OS
Thumbs.db
.DS_Store

# Migrations (optionnel - décommenter si vous ne voulez pas tracker les migrations)
# */migrations/*.py
# !*/migrations/__init__.py

# Secrets
*.env
secrets.py
.env.local

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover